* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace;
    background-color: #0d0d0d;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.2s;
    user-select: none;
}

p {
    font-size: 14px;
    font-weight: 600;
    -webkit-font-smoothing: anti-aliased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: transparent;
    color: #fff;                   /* default text color */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-info {
    position: absolute; 
    left: 48%;
    top: 50%;
    display: flex;
    gap: 4px;
    background: linear-gradient(90deg, #00000000, #760808);
}


.site-info p span {
    color: #9a9994;
}

.img-preview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 75%;
    overflow: hidden;
}

.img-preview img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.minimap {
    position: absolute;
    top: 50%;
    right: 8em;
    width: 80px;
}

.indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border: 1px solid #a5a5a5;
    z-index: 2;
}

.items {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    will-change: transform;
}

.item {
    width: 100%;
    height: 60px;
    padding: 5px;
    cursor: pointer;
}

@media (max-width: 900px) {
    body {
        overflow: hidden;
        touch-action: none;
    }

    .container {
        touch-action: none;
    }

    .site-info {
        top: 1.5em;
        left: 55%;
        transform: translateX(-50%);
    }

    .minimap {
        top: auto;
        right: auto;
        bottom: 5em;
        left: 50%;
        width: auto;
        height: 80px;
        touch-action: none;
    }

    .indicator {
        top: 0;
        left: 0;
        width: 60px;
        height: 100%;
    }

    .items {
        flex-direction: row;
        width: max-content;
        height: 100%;
        touch-action: none;
    }

    .item {
        width: 60px;
        height: 100%;
        padding: 5px;
    }

    .img-preview {
        top: 45%;
        width: 75%;
        height: 50%;
    }
}

#menu-button {
  cursor: pointer; /* show hand cursor */
  text-decoration: underline; /* underline text */
}

.item:hover img {
    filter: brightness(60%); /* 60% brightness darkens image */
    opacity: 0.9; /* slight fade for smoother effect */
}